			<a href="index.html">Inicio</a>
			<a href="manuales.html">Manuales</a>
			<a href="licencias.html">Licencias</a>
			<a href="articulos.html">Artículos</a>
			<a href="recursos.html">Recursos Web</a>
			<a href="acercade.html">Acerca de</a>
