body {
       background-color: #D6D6D6;
       color: #111;
       font-family: sans-serif;
       font-size: 99%;
       padding: 0;
       margin: 0;
       }

a {
    color: #058;
    text-decoration: none;
    }

a:hover {
          background-color: #eee;
          }

header {
         
         color: #666;
         text-shadow: 1px 1px #fff;
         font-size: 1.7em;
         padding: 0.7ex 0.7ex 0.7ex 0.7em;
         }

header a {
           color: #666;
           }

nav {
      overflow: hidden;
      color: #069;
      background-color: #17a;
      padding: 0.7ex;
      font-size: 94%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #069;
      }

nav a {
        padding: 0.5ex 1ex 0.5ex 1ex;
        color: #fff;
        }

nav a:hover {
              background-color: #069;
              }

nav a.active {
               font-weight: bold;
               font-style: italic;
               }

article {
          /* padding-top:40px;
             padding-right:1px;*/
          padding: 1.5em;
          max-width: 65em;
          }

h1, h2, h3, h4 {
                 margin: 1em 1ex 0.5ex 0;
                 }

h1 { font-size: 1.4em;
     font-family: Courier New;
     text-align:center; }

h2 { font-size: 1.3em;
     font-family: Courier New;
     text-align:center; }

h3 { font-size: 1.2em;
     font-family: Courier New;
     text-align:center; }

h4 { font-size: 1.1em;
     font-family: Courier New;
     text-align: center; }

code, pre { font-size: 1.1em }

pre { margin-left: 2em; }

/* Tano */

#blatder{
          position:fixed;
          /* display:block; */
          right:4px;
          top:188px;
          width:260px;
          height:100%;
          color:#069;
          background-color:#D6D6D6;
}

#menu p {
          margin:0px;
          padding:0px;
          }

#menu {
        position: absolute;
        right:3px;
        font-family: sans-serif;
        font-size: 94%;
        }    

#menu a {
          display: inline-block;
          padding: 3px;
          width: 260px;
          color: #17a;
          background-color: #D6D6D6;
          border-bottom: 1px solid #17a;
          border-width: 1px;
          border-style: solid;
          border-color: #17a;
          padding-bottom: 1px;
          margin-bottom: 1px;
          text-align:center;
          }

#menu a:hover {
                background-color: #336699;
                color: #ffffff;
                }

#menu a:active {
                 font-weight: bold;
                 font-style: italic;
                 }

#menu ul.a, li.a {
               list-style: none;
               margin: 0;
               padding: 0;
               }
 
#menu ul {
           position: relative;
           z-index: 597;
           float: left;
           }
 
#menu ul li {
              float: left;
              min-height: 1px;
              line-height: 1em;
              vertical-align: middle;
              }

#menu ul li.hover,
#menu ul li:hover {
                    position: relative;
                    z-index: 599;
                    cursor: default;
                    }
 
#menu ul ul {
              visibility: hidden;
              position: absolute;
              top: 100%;
              left: 100;
              z-index: 598;
              width: 100%;
              }
 
#menu ul ul li {
                 float: none;
                 }
 
#menu ul li:hover > ul {
                         visibility: visible;
                         }
 
#menu ul ul {
              top: 0;
              right: 100%;
              }
 
#menu ul li {
              float: none;
              }

/* #menu {
        width: 255px;
        } */
 
/* #menu span, #menu a {
                      display: inline-block;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 12px;
                      text-decoration: none;
                      } */

#menu:after, #menu ul:after {
                              content: '';
                              display: block;
                              clear: both;
                              }
 
#menu ul, #menu li {
                     width: 100%;
                     }
#menu li {
           background: #dddddd;
           }

#menu li:hover {
                 background: #f6f6f6;
                 }

/* #menu a {
          color: #666666;
          line-height: 100%;
          padding: 1px 1px 1px 1px;
          width: 253px;
          } */

#menu ul ul li {
                 background: #f6f6f6;
                 }

#menu ul ul li:hover {
                       background: #dddddd;
                       }

#menu ul ul li:hover a {
                         color: #dddddd;
                         }

#menu ul ul li ul li {
                       background: #dddddd;
                       }

#menu ul ul li ul li:hover {
                             background: #dddddd;
                             }


#menu .has-sub {
                 position: relative;
                 }
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
                                                                   content: '';
                                                                   display: block;
                                                                   width: 10px;
                                                                   height: 9px;
                                                                   position: absolute;
                                                                   left: 5px;
                                                                   top: 50%;
                                                                   margin-top: -5px;
                                                                   }
 
#menu .fa-angle-right {
                        float: left;
                        }

.textocent{
            text-align:center;
            }

.textoder{
           text-align:right;
           }

#tabla-centrada {
                  margin: 0 auto;
                  }

#th-color {
            background-color: #C5C5C5;
            }



