<h1>NOMBRE</h1>
<p>cdspeed - reduce la velocidad del cdrom para obtener un tiempo de
acceso más rápido.</p>
<h1>SINOPSIS</h1>
<p>[-h] [-d dispositivo] -s velocidad</p>
<h1>DESCRIPCIÓN</h1>
<p>Las unidades de cdrom modernas son demasiado rápidas. Puede llevar
bastantes segundos en una unidad de cdrom de velocidad 60x empezar a
girar y leer datos de la unidad. El resultado en estas unidades es
precisamente mucho más lento que en unidades a 8x o 24x. Esto es
particularmente cierto si sólo se lee ocasionalmente (e.g. cada 5
segundos) ficheros pequeños. Esta utilidad limita la velocidad y hace
que la unidad responda mejor cuando se accede a ficheros pequeños.</p>
<p>cdspeed también hace a la unidad menos ruidosa lo que es muy útil
para escuchar música en el ordenador.</p>
<h1>OPCIONES</h1>
<dl>
<dt>-h</dt>
<dd>
<p>presenta un pequeño texto de ayuda</p>
</dd>
<dt>-d</dt>
<dd>
<p>usa el dispositivo dado en lugar de /dev/cdrom</p>
</dd>
<dt>-s</dt>
<dd>
<p>establece a velocidad. El argumento es un entero. Cero significa
restaurar a la velocidad máxima.</p>
</dd>
</dl>
<h1>EJEMPLOS</h1>
<dl>
<dt>Establecer la velocidad máxima del cdrom a 8:</dt>
<dd>
<p><strong>cdspeed</strong> -s 8</p>
</dd>
</dl>
<h1>ESTADO DE SALIDA</h1>
<p>cdspeed devuelve un cero si consigue cambiar la velocidad máxima de
la unidad de cdrom a la establecida. Se devuelve no cero en caso de
fallo.</p>
<h1>AUTOR</h1>
<p>Tano (tano@texto-plano.xyz)</p>
<h1>VÉASE TAMBIÉN</h1>
<p>eject(1)</p>
